*{
margin:0;
padding:0;
}

.cabecalho{
  background-color: rgb(43, 46, 226);
  color: rgb(211, 202, 202);
  display: flex;
  justify-content: space-around;
  }

.cabecalho-imagem { 
  font-size: 60px;
  width: 20%;
}

.cabecalholistaItem{
  display: inline-block;
  margin: 0 16px;
  padding: 24px 0;
}

.sobre-imagem{
  width: 25%;
}

.sobre{
  background-image:url(img/volei\ 1.png);
  color:#030503;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  height: 80vh;
}

.sobre-conteudo{
  width: 35%;
}

.sobre-titulo{
  padding: 24px 0;



}

.membro-ícone {
width:24px;
}

.membro-div
{ text-align: center;
}
.membro-titulo
{
text-align: center;
padding: 150px 0;
}















