*{
margin:0;
padding:0;
}

.cabecalho{
  background-color: blueviolet;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  }

.cabecario-imagem { 
  font-size: 60px;
  width: 20%;
}

.cabecalholistaItem{
  display: inline-block;
}